.button {
  /* margin-top: 1.25rem; */
  background: white;
  color: black;
  font: inherit;
  border: 1px solid rgb(255, 255, 255);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  width: 10rem;
  font-size: 2rem;
}

.button:hover,
.button:active {
  background: black;
  color: white;
}
.button:focus {
  outline: none;
}
