.answerTxt {
  font-size: 1.8rem;
  color: black;
}
.answer {
  background: white;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 0.5rem;
  width: auto;
  padding: 0.5rem;
}

.disabled-answer {
  pointer-events: none;
}
.wrong-answer {
  background: red;
}
.correct-answer {
  background: green;
}
