.container_score {
  display: flex;
  flex-direction: column;
}
.score {
  display: flex;
  flex-direction: column;
  color: white;
}
.scoreText {
  margin: 1rem;
  display: flex;
  align-items: center;
  font-size: 2rem;
  justify-content: space-around;
}
.scoreBtn {
  text-align: center;
}
.scoreCnt {
  font-size: 8rem;
}
.congrats {
  font-size: 2rem;
  margin: 1rem 4rem;
}

.cardColor {
  background: green;
}
